@model IEnumerable<FISCA.Dominio.Entidades.Asignatura>
<<<<<<< HEAD
=======
<h2>Lista Asignatura</h2>
>>>>>>> 41ab709e84eb9b653c1f1d1d60f2ec54779318e1

<table border="1">
    <thead>
        <tr>
            <th>IdAsignatura</th>
            <th>NombreAsignatura</th>
            <th>IdCarrera</th>
            <th>IdGrupo</th>
            <th>IdCuatrimestre</th>
<<<<<<< HEAD
=======

>>>>>>> 41ab709e84eb9b653c1f1d1d60f2ec54779318e1
        </tr>
    </thead>
    <tbody>
        @foreach (var asignatura in Model)
        {
            <tr>
                <td>@asignatura.IdAsignatura</td>
                <td>@asignatura.NombreAsignatura</td>
                <td>@asignatura.IdCarrera</td>
                <td>@asignatura.IdGrupo</td>
                <td>@asignatura.IdCuatrimestre</td>
<<<<<<< HEAD
=======

>>>>>>> 41ab709e84eb9b653c1f1d1d60f2ec54779318e1
            </tr>
        }
    </tbody>
</table>
<<<<<<< HEAD

=======
>>>>>>> 41ab709e84eb9b653c1f1d1d60f2ec54779318e1
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
